// /////////////////////////
// @@ NODE CALENDAR
// ////////////////////////

.calendar-node {
  background: rgba(var(--black), .5);
  padding: 15px;
  color: var(--white);
  min-height: 200px;

  display: grid;
  

  &__view {
    background: var(--green);
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    margin-bottom: 25px;
  }

  &__title {

  }

  &__date {
    font: {
      weight: $fw-bold;
    }

  }

  &__body {

  }
}
