// /////////////////////////
// @@ PHOTOALBUM
// ////////////////////////

// Overview albums - view
.view-fotoalbums {
  .view-content {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
}
// Photo album
.photo-album {
  .field-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
  } 
}


