// /////////////////////////
// @@ STYLES.SCSS
// ////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

// ================================
// @@ FONTAWESOME
// ================================
@import url('../bower_components/fontawesome/css/all.min.css');

// ================================
// @@ ABSTRACTS
// ================================

@import "00-abstracts/dir";

// ================================
// @@ BASE
// ================================

@import "01-base/dir";

// ================================
// @@ LAYOUT
// ================================

@import "02-layout/dir";

// ================================
// @@ REGIONS
// ================================

@import "03-regions/dir";

// ================================
// @@ COMPONENTS
// ================================

@import "04-components/dir";

// ================================
// @@ CONTENT
// ================================

@import "05-content/dir";


.navbar__item {
  margin-bottom: 15px;
}


table {
  width: 100%;
}

th {
  border: solid 1px #ffffff;
  padding: 5px 0;
}

td {
  padding: 5px 0;
  border-bottom: solid 1px #e4e4e4;
}

.footable-row-detail-name {
  display: table-cell;
  font-weight: normal;
  padding-right: 0.5em;
}

#toolbar {
  margin-top: 50px;
}

/*
*aanpassing nav menu van bootstrap
============================================================*/
.navbar-inverse .navbar-nav > li > a {
  color: var(--green);
  padding: 15px 10px 0 10px;
}


/*
*sponsors
=======================================================*/
.sponsor_wrap {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid 1px #e4e4e4;
  /*dit zorgt ervoor dat de div ook onder de afbeelding komt*/
  display: inline-block;
  overflow: hidden;
}

.sponsor_sidebar_wrap td {
  border-top: solid 1px #ffffff;
  border-bottom: none;
}

.sponsor_sidebar_wrap .sponsor_sidebar_title a {
  font-size: 16px;
  line-height: 32px;
}


/*alle extra opmaak*/


.group-header {
  /*formulier contact*/
  width: 100%;
  display: inline-block;
  overflow: hidden;
}


/*
*pager opmaak
==========================================*/

.item-list .pager li {
  padding: 0 0 1.5em 0;
}

.item-list ul.pager li {
  margin: 0 0 0.25em 1em;
}

.pager li > a,
.pager li > span {
  border-radius: 0;
}


/*user pagina's */
/*==============================================
edit account form*/
#edit-account .form-item-current-pass,
#edit-account .form-item-mail,
#field-voornaam-add-more-wrapper,
#field-familienaam-add-more-wrapper,
#field-adres-add-more-wrapper,
#field-postcode-en-gemeente-add-more-wrapper {
  margin: 2em 0;
}

#edit-account .form-item-current-pass label,
#field-voornaam-add-more-wrapper label,
#field-familienaam-add-more-wrapper label,
#field-adres-add-more-wrapper label,
#field-postcode-en-gemeente-add-more-wrapper label {
  padding-right: 15px;
}

/* persoonlijke gegevens opmaken */
.user_item,
ul.user_linken li {
  line-height: 1.8em;
}

/*better login */

#auth_box img {
  float: none;
}

#auth_box a {
  color: var(--white);
}

