// /////////////////////////
// @@ STYLES.SCSS
// ////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

// ================================
// @@ FONTAWESOME
// ================================
@import url('../bower_components/fontawesome/css/all.min.css');

// ================================
// @@ Bootstrap
// ================================
@import url('../bower_components/bootstrap/dist/css/bootstrap.min.css');

// ================================
// @@ ABSTRACTS
// ================================

@import "00-abstracts/dir";

// ================================
// @@ BASE
// ================================

@import "01-base/dir";

// ================================
// @@ LAYOUT
// ================================

@import "02-layout/dir";

// ================================
// @@ REGIONS
// ================================

@import "03-regions/dir";

// ================================
// @@ COMPONENTS
// ================================

@import "04-components/dir";

// ================================
// @@ CONTENT
// ================================

@import "05-content/dir";





table {
  width: 100%;
}

th {
  border: solid 1px #ffffff;
  padding: 5px 0;
}

td {
  padding: 5px 0;
  border-bottom: solid 1px #e4e4e4;
}

.footable-row-detail-name {
  display: table-cell;
  font-weight: normal;
  padding-right: 0.5em;
}

/*
*pager opmaak
==========================================*/

.item-list .pager li {
  padding: 0 0 1.5em 0;
}

.item-list ul.pager li {
  margin: 0 0 0.25em 1em;
}

.pager li > a,
.pager li > span {
  border-radius: 0;
}