
// ================================
// @@ ABSTRACTS
// ================================

@import "00-abstracts/dir";

// ================================
// @@ BASE
// ================================

@import "01-base/dir";

// ================================
// @@ LAYOUT
// ================================

@import "02-layout/dir";

// ================================
// @@ REGIONS
// ================================

@import "03-regions/dir";

// ================================
// @@ COMPONENTS
// ================================

@import "04-components/dir";

// ================================
// @@ CONTENT
// ================================

@import "05-content/dir";


body {
  background-color: var(--white);
  padding-top: 70px;
}

a {
  color: #293f47;
}

a:hover {
  color: #a89400;
  text-decoration: none;
}

h1 {
  color: #293f47;
}

h2 {
  font-size: 24px;
}

img {
  float: left;
  padding: 0 15px 15px 0;
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

th {
  border: solid 1px #ffffff;
  padding: 5px 0;
}

td {
  padding: 5px 0;
  border-bottom: solid 1px #e4e4e4;
}

.footable-row-detail-name {
  display: table-cell;
  font-weight: normal;
  padding-right: 0.5em;
}

#toolbar {
  margin-top: 50px;
}

/*
*aanpassing nav menu van bootstrap
============================================================*/
.navbar-inverse .navbar-nav > li > a {
  color: var(--green);
  padding: 15px 10px 0 10px;
}

.dropdown-menu {
  background-color: #00202b;
}

.dropdown-menu > li > a {
  color: #005ea3;
  line-height: 35px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000;
  background-color: #000000;
}




/*
 * Events teaser
*/

.event__teaser {
  color: var(--white); 
}

.event__teaser:hover {
  color: var(--white);
}

.event__teaser-wrap {
  display: grid;
}

.event__teaser-wrap:hover {
  /* box-shadow: 0 0 15px var(--black); */
}

/*
*
==========================================================*/
.container_wrap {
  /*margin-top: -30px;*/
  /*om een of andere duistere reden moeten aanpassen*/
  background: #ffffff;
}




/*
*sponsors
=======================================================*/
.sponsor_wrap {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid 1px #e4e4e4;
  /*dit zorgt ervoor dat de div ook onder de afbeelding komt*/
  display: inline-block;
  overflow: hidden;
}

.sponsor_sidebar_wrap td {
  border-top: solid 1px #ffffff;
  border-bottom: none;
}

.sponsor_sidebar_wrap .sponsor_sidebar_title a {
  font-size: 16px;
  line-height: 32px;
}

#inner_zijbalk_left h2,
#content_bottom_wrap h2,
.title_attachment {
  font-size: 20px;
  line-height: 45px;
  padding-left: 50px;
  background: url("../images/black-cyclist.png") no-repeat left top;
}


/*
*bottom region
=========================================================*/

#content_bottom_wrap {
  clear: both;
  margin-top: 25px;
}

#content_bottom_wrap h2 {
  font-size: 18px;
}

#content_bottom_wrap p {
  min-height: 60px;
}




/*wat extra padding onder de velden*/

.field-name-field-rit-nr-gruppo,
.field-name-field-datum-vertrek,
.field-name-field-afstand,
.field-name-field-oefen-afstand,
.field-name-field-verantwoordelijke,
.field-name-field-url,
.field-name-field-plaats,
.field-name-body,
.url_gpsroute {
  padding-bottom: 10px;
}

.field-name-field-rit-nr-gruppo .field-label {
  padding-top: 4px;
}

.field-name-field-rit-nr-gruppo .field-item {
  padding-left: 5px;
  font-size: large;
}

#block-views-sponsors-block-1,
#block-views-grupposportivo-ritten-block-1,
#block-views-oefenritten-block-1,
#block-views-klassiekers-block-1 {
  margin: 25px 0 35px 0;
}

/*alle extra opmaak*/


.group-header {
  /*formulier contact*/
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

/*
* ritten opmaak date om vertrekuur na date te plaatsen
==========================================================*/

.vertrek-date {
  float: left;
  padding-right: 15px;
}

/*
*Blog systeem
=======================================================*/

.view-id-blog .submitted,
.node-blog .submitted {
  padding-bottom: 10px;
}

.attachment-after {
  margin-top: 25px;
}

.attachment-row {
  padding: 5px 0;
}

/*
*leden pagina
===================================================*/

.node-lid,
.node-linken {
  width: 220px;
  float: left;
}

.node-lid {
  height: 275px;
  margin-right: 50px;
}

.node-linken {
  height: 220px;
  margin-right: 20px;
}

.node-lid h3 {
  font-size: 17px;
}

.bestuur__img {
  overflow: hidden;
}

/*
*contactform
================================================*/

#webform-client-form-9 label {
  width: 120px;
}

#webform-client-form-9 input,
#webform-client-form-9 textarea {
  border: solid 1px #293f47;
  padding: 5px;
}

#webform-client-form-9 input[type="submit"] {
  background: white;
  padding: 10px;
}

/*
*gastenboek
===============================================*/

.person_icon {
  padding: 0 0 20px 32px;
  background: url("../images/icon-person-32.png") no-repeat left top;
  line-height: 36px;
}

.verwijzingen {
  font-size: larger;
  padding-left: 40px;
  background: url("../images/guestbook-icon.png") no-repeat left center;
  line-height: 36px;
}

.node-gastenboek {
  padding-bottom: 20px;
  border-bottom: solid 1px #e4e4e4;
}

.node-gastenboek-form #edit-title {
  width: 290px;
}

/*
*foto albums
===============================================*/
.album-overzicht h3 {
  font-size: 15px;
}

.album-overzicht {
  width: 210px;
  float: left;
}

/*
*video
============================================*/

.veld-video {
  /* class aangemaakt in de view*/
  float: left;
  padding-right: 35px;
  width: 400px;
  margin-bottom: 35px;
}

.veld-video .views-field-title {
  font-size: large;
  padding-bottom: 10px;
}

/*
*pager opmaak
==========================================*/

.item-list .pager li {
  padding: 0 0 1.5em 0;
}

.item-list ul.pager li {
  margin: 0 0 0.25em 1em;
}

.pager li > a,
.pager li > span {
  border-radius: 0;
}


/*user pagina's */
/*==============================================
edit account form*/
#edit-account .form-item-current-pass,
#edit-account .form-item-mail,
#field-voornaam-add-more-wrapper,
#field-familienaam-add-more-wrapper,
#field-adres-add-more-wrapper,
#field-postcode-en-gemeente-add-more-wrapper {
  margin: 2em 0;
}

#edit-account .form-item-current-pass label,
#field-voornaam-add-more-wrapper label,
#field-familienaam-add-more-wrapper label,
#field-adres-add-more-wrapper label,
#field-postcode-en-gemeente-add-more-wrapper label {
  padding-right: 15px;
}

/* persoonlijke gegevens opmaken */
.user_item,
ul.user_linken li {
  line-height: 1.8em;
}

/*better login */

#auth_box img {
  float: none;
}

#auth_box a {
  color: var(--white);
}

/*
*media querys
================================================================*/

@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode
	De 1366px op aanraden van Koen (was 1024)*/
  #inner_zijbalk_left h2,
  #content_bottom_wrap h2,
  .title_attachment {
    font-size: 16px;
  }
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  .club_name_img img {
    width: 55%;
    height: auto;
  }

  #inner_zijbalk_left h2,
  #content_bottom_wrap h2,
  .title_attachment {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
  .logo_img img {
    width: 40%;
    height: auto;
  }

  .veld-video {
    width: 275px;
  }

  .node-lid {
    margin: 0 0 0 35px;
  }
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  .logo_img img {
    width: 100%;
    height: auto;
  }

  .club_name_img img {
    width: 100%;
    height: auto;
  }

  .bcg_header .slogan {
    font-size: 15px;
  }

  .content img {
    float: none;
  }

  .bcg_header .route {
    padding-top: 25px;
  }
}
