// /////////////////////////
// @@ MIXINS
// ////////////////////////

// MEDIA QUERY MANAGER
//
// 0 - 600px:      Phone
// 600px - 900px:  Tablet portret
// 900px - 1200px: Tablet landscape
// [1200px - 1800px] is de normale styles de desktop
// 1800px +        Big desktop
//

/*
  // $breakpoint argument choices
  //
  // - smallest-phone
  // - small-phone
  // - phone
  // - tab-port
  // - tab-land
  // - big-desktop
  //
  // 1em = 16px
  */

@mixin respond($breakpoint) {
  @if $breakpoint == smallest-phone {
    @media only screen and (max-width: 20em) {
      @content;
    } //320px
  }

  @if $breakpoint == small-phone {
    @media only screen and (max-width: 30em) {
      @content;
    } //480px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.5em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //more than 1800px
  }
}

@mixin btn($c: var(--white), $bg: transparant) {
  color: $c;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  display: inline-block;
  background: $bg;
  border-radius: 0;
}

@mixin boxshadow($blur: 15px, $transp: 0.3) {
  box-shadow: 0 0 $blur rgba(var(--black), $transp);
}
