// /////////////////////////
// @@ VARIABLES
// ////////////////////////

// --black set to rgb color
// var use in the following way 
// background-color: rgba(var(--black), 1);

:root {
  --white: #FBFFFE;
  --black: 13, 27, 42;
  --blue: #3343A5;
  --green: #B2EF78;
  --facebook: #4267b2;
  --twitter: #38A1F3;
}

// FONTS
$ff-ss: 'Roboto', sans-serif;
$ff-size: 16px;
$fw-regular: 300;
$fw-bold: 500;