// /////////////////////////
// @@ VARIABLES
// ////////////////////////

:root {
  --white: #FBFFFE;
  --black: #0d1b2a;
  --blue: #3343A5;
  --green: #B2EF78;
}

// FONTS
$ff-ss: 'Roboto', sans-serif;
$ff-size: 16px;
$fw-regular: 300;
$fw-bold: 500;