// /////////////////////////
// @@ EVENTS
// ////////////////////////

// views-view--events.tpl.php and views-view-unformatted--events.tpl.php
.view-events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.view-event {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  padding: 15px;
  box-shadow: 0 0 10px var(--black);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 15px var(--black);
    border: 1px solid var(--white);
  }
}

// events.inc.php only on the frontpage
.events-region {

  &__grid {
    margin: 0 0 30px;

    @include respond(tab-port) {
      margin: 0 20px 30px;
    }
  }
}

// node-events-teaser.tpl.php
.event {

  &__teaser {
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  &__teaser-wrap {
    position: relative;
    min-height: 100%;
    display: grid;
  }

  &__body {
    margin-bottom: 30px;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

