// /////////////////////////
// @@ FOOTER
// ////////////////////////

footer {
  background-color: rgba(var(--black), 1);
}

.footer {
  padding: 25px 0;
  color: var(--white);
  font-size: 11px;

  &__link {
    color: var(--white);

    &:hover {
      color: var(--green);
    }
  }

  &-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__right {
      text-align: right;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;

      &__right {
        margin-top: 20px;
        text-align: left;
      }
    }
  }
}
