// /////////////////////////
// @@ HEADER
// ////////////////////////

.bcg_header {
  margin-top: -30px;
  display: flex;
  align-items: center;
  background: url("../images/cycling-race.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px;
}

// preload the first image 
.backstretch {
  
}

// header height on frontpage
.front .bcg_header {
  height: 350px;
}

// header height on other pages
.not-front .bcg_header {
  height: 250px;
}

.logo {
  width: 250px;

  &__img {}
}