// /////////////////////////
// @@ HEADER
// ////////////////////////

.bcg_header {
  margin-top: -30px;
  display: flex;
  align-items: center;
  background-color: var(--black);
  margin-bottom: 30px;
  height: 40vh;
}

// preload the first image 
.backstretch {
  
}

.logo {
  width: 250px;

  &__img {}
}