// /////////////////////////
// @@ NAVIGATION 
// ////////////////////////

#toolbar {
  margin-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: var(--green);
  padding: 15px 10px 0 10px;
}

.navbar__item {
  margin-bottom: 15px;
}
