// /////////////////////////
// @@ SPONSORS
// ////////////////////////

.sponsors {
  // background: var(--blue);
  // color: var(--white);
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.sponsor {
  &-node {
    padding: 20px;
  }
}

.view {
  &-sponsors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-gap: 20px;
  }

  &-sponsor {
    box-shadow: 0 0 15px rgba(var(--black), 0.3);
  }
}
