// /////////////////////////
// @@ BTN
// ////////////////////////

.btn {
  border-radius: 0px;
}

.btn-gruppo {
  color: #ffffff;
  background-color: #293f47;
  border-color: #2e6da4;
  border-color: #ffffff;
  margin-top: 10px;
  /*position: absolute;*/
  left: 5px;
  bottom: 20px;
}

.btn-gruppo:hover {
  color: #ffffff;
  background-color: #a89400;
}